
venv/
.venv/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl


.mypy_cache/
.pytest_cache/
ruff_cache/
pytest_cache/
coverage.xml
htmlcov/


.vscode/
.idea/
*.iml


build/
dist/
*.egg-info/
*.egg
*.log


*.db
*.sqlite3


staticfiles/
media/


.DS_Store
Thumbs.db
desktop.ini


docker-data/
docker-compose.override.yml



combined_output_selected.txt
combined_output_front.txt
combined_output.md

get_project.py
get_project_front.py
cron_sync_api.py

poetry.lock
pyproject.toml